<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<th:block th:include="fragments/header :: top-menu"/>
<div id="content-wrapper" class="container-fluid">
  <div id="index-text-container">
    <h3>Automobilių tinklas</h3>
    <p>Modulio P170B114 semestrinis darbas</p>
    <p>Darbą atliko:</p>
    <p>Ovidijus Stukas</p>
    <p>Vytautas Božnis</p>
    <p>Erikas Žilinskas</p>
  </div>
</div>
<th:block th:include="fragments/header :: scripts"/>
</body>
</html>