<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head">
</head>
<body>
<th:block th:include="fragments/header :: top-menu"/>

<a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')" id="btn-generate-invoice" th:href="@{/invoices/generate}" class="btn btn-primary">Genereuoti sąskaitas</a>

<input id="date-from" type="text">
<input id="date-to" type="text">

<table id="invoice-table" class="table">
    <thead>
        <tr>
            <th>Pavadinimas</th>
            <th>Numeris</th>
            <th>Siuntėjas</th>
            <th>Gavėjas</th>
            <th>Suma</th>
            <th>Generavimo data</th>
            <th>Statusas</th>
        </tr>
    </thead>
    <tbody>
    <tr class="invoiceEntity" th:data-id="${invoice.invoiceId}" th:data-car-id="${invoice.getCar().getCarId()}" th:data-type-id="${invoice.getType().getInvoiceTypeId()}" th:each="invoice : ${invoices}">
        <th th:data-name="${invoice.name}" th:text="${invoice.name}"></th>
        <th th:data-number="${invoice.number}" th:text="${invoice.number}"></th>
        <th th:data-senderName="${invoice.senderName}" th:text="${invoice.senderName}"></th>
        <th th:data-receiverName="${invoice.receiverName}" th:text="${invoice.receiverName}"></th>
        <th th:data-totalPrice="${invoice.totalPrice}" th:text="${invoice.totalPrice}"></th>
        <th th:data-generationDate="${invoice.generationDate}" th:text="${invoice.generationDate}"></th>
        <th th:data-status="${invoice.status}" th:text="${invoice.status}"></th>
    </tr>
    </tbody>
</table>

<div id="invoice-edit-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Redaguoti sąskaita:</h4>
            </div>
            <div class="modal-body">
                <form id="invoice-edit" class="form-signin">
                    <input id="edit-invoice-id" type="hidden" name="invoiceId">

                    <div class="form-group">
                        <label>Pavadinimas</label>
                        <input id="edit-name" class="form-control" name="name" type="text" placeholder="Pavadinimas"/>
                    </div>
                    <div class="form-group">
                        <label>Numeris</label>
                        <input id="edit-number" class="form-control" name="number" type="text" placeholder="Numeris"/>
                    </div>

                    <input id="edit-car-id" type="hidden" name="carId">
                    <input id="edit-type-id" type="hidden" name="typeId">

                    <div class="form-group">
                        <label>Siuntėjas</label>
                        <input id="edit-sender-name" class="form-control" name="senderName" type="text" placeholder="Siuntėjas"/>
                    </div>
                    <div class="form-group">
                        <label>Gavėjas</label>
                        <input id="edit-receiver-name" class="form-control" name="receiverName" type="text" placeholder="Gavėjas"/>
                    </div>
                    <div class="form-group">
                        <label>Suma</label>
                        <input id="edit-total-price" class="form-control" name="totalPrice" type="text" placeholder="Suma"/>
                    </div>
                    <div class="form-group">
                        <label>Generavimo data</label>
                        <input id="edit-generation-date" class="form-control" name="generationDate" type="text" placeholder="Generavimo data"/>
                    </div>
                    <div class="form-group">
                        <label>Statusas</label>
                        <input id="edit-status" class="form-control" name="status" type="text" placeholder="Statusas"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Uždaryti</button>
                        <button type="submit" class="btn btn-primary">Pridėti</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="service-rating-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Paslagų įvertinimas</h4>
            </div>
            <div class="modal-body">
                <form id="service-rating">
                    <div class="form-group">
                        <label id="service-name">Paslaugos vardas</label></br>
                        <label>Komentaras: </label>
                        <input id="service-comment" name="service-comment" type="text" class="form-control">
                        <label>vertinimas: </label>
                        <input id="service-score" name="service-score" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label id="service-name">Paslaugos vardas</label></br>
                        <label>Komentaras: </label>
                        <input id="service-comment" name="service-comment" type="text" class="form-control">
                        <label>vertinimas: </label>
                        <input id="service-score" name="service-score" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label id="service-name">Paslaugos vardas</label></br>
                        <label>Komentaras: </label>
                        <input id="service-comment" name="service-comment" type="text" class="form-control">
                        <label>vertinimas: </label>
                        <input id="service-score" name="service-score" type="text" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                <button type="button" class="btn btn-primary">Vertinti</button>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments/header :: scripts"/>
<script th:src="@{/js/app-invoices.js}" type="text/javascript"></script>

</body>
</html>