<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head">
</head>
<body>
<th:block th:include="fragments/header :: top-menu"/>

<a id="start-new-chat-group-btn" class="btn btn-primary" href="#"><i class="glyphicon glyphicon-send"></i> Pradėti naują pokalbį</a>

<table id="chat-groups-table">
    <thead>
        <tr>
            <td>Pavadinimas</td>
            <td>Sukurimo data</td>
            <td>paskutinės žinutės data</td>
            <td>Aktyvus</td>
            <td sec:authorize="hasRole('ROLE_EMPLOYEE')">Veiksmai</td>
        </tr>
    </thead>
    <tbody>
    <tr data-id="1" class="group-chat">
        <td>Test</td>
        <td>2016-05-12</td>
        <td>2016-12-19</td>
        <td>true</td>
        <td><a sec:authorize="hasRole('ROLE_EMPLOYEE')" class="admin-chat-group" th:data-chat-id="1" href="#">Administruoti pokalbį</a></td>
    </tr>
    <tr data-id="2" class="group-chat">
        <td>Test2</td>
        <td>2016-05-12</td>
        <td>2016-12-19</td>
        <td>true</td>
        <td><a sec:authorize="hasRole('ROLE_EMPLOYEE')" class="admin-chat-group" th:data-chat-id="2" href="#">Administruoti pokalbį</a></td>
    </tr>
    </tbody>
</table>

<div id="group-chat" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <a id="show-chat-participants-btn" href="#" class="pull-left" style="margin-right: 10px;"><i class="glyphicon glyphicon-plus"></i> Pridėti dalyvį</a></h4>
                <a id="show-chat-email-config-btn" href="#" class="pull-left" style="margin-left: 10px;"><i class="glyphicon glyphicon-envelope"></i> Pašto pranešimai</a></h4>
            </div>
            <div class="modal-body clearfix">
                <div id="chat-container" class="col-xs-12 clearfix">
                    <div class="col-xs-12 text-center" style="margin-top:10">TEST</div>
                    <div class="col-xs-12 text-center">TEST2</div>
                </div>
            </div>
            <div class="modal-footer">
                <textarea id="chat-message" rows="4" cols="50" class="col-xs-12"></textarea>
                <a id="chat-submit" class="btn btn-primary">Siūsti</a>
            </div>
        </div>
    </div>
</div>

<div id="new-group-chat" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Parašykite žinutę</h4>
            </div>
            <div class="modal-footer">
                <form th:action="@{messages/createNewChat}">
                    <textarea name="chatMessage" id="new-chat-message" rows="4" cols="50" class="col-xs-12"></textarea>
                    <button type="submit" id="new-chat-submit" class="btn btn-primary">Siūsti</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="chat-participant-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="close-chat-participant-modal-button" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Pridėti pokalbio dalyvį:</h4>
            </div>
            <div class="modal-body">
                <form th:action="@{messages/showChatGroupHistory}" method="get">
                    <div class="form-group">
                        <input id="participantAddChatGroupId" name="chatGroupId" type="hidden">

                        <label for="participant">Pridėti vartotoją</label>
                        <select id="participant" class="form-control" name="userId">
                            <option th:each="user : ${users}" th:value="${user.getUserId()}" th:text="${user.getName()}"></option>
                        </select>
                    </div>
                    <a type="submit" href="#" class="btn btn-primary col-xs-12" style="margin-top:10px;">Siūsti pranešimus</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="chat-email-config-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="close-chat-email-config-modal-button" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">El pašto priminimai:</h4>
            </div>
            <div class="modal-body clearfix">
                <form th:action="@{messages/enableEmailMessages}" method="get">
                    <div class="form-group">
                        <input id="emailChatGroupId" name="chatGroupId" type="hidden">
                        <input class="form-control" name="email" type="email" placeholder="El. paštas"/>
                    </div>
                    <a type="submit" href="#" class="btn btn-primary col-xs-12" style="margin-top:10px;">Siūsti pranešimus</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="chat-admin-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Pokalbio administravimas</h4>
            </div>
            <div class="modal-body clearfix">
                <form th:action="@{messages/showChatGroupHistory}" method="POST">
                    <input class="chatGroupIdHidden" name="chatGroupId" type="hidden">
                    <button type="submit" id="show-chat-history" class="btn btn-primary col-xs-12" style="margin-top:10px;">Pamatyti pokalbio istorija</button>
                </form>
                <form th:action="@{messages/deleteChatGroup}" method="POST">
                    <input class="chatGroupIdHidden" name="chatGroupId" type="hidden">
                    <button type="submit" id="chat-group-delete" class="btn btn-primary col-xs-12" style="margin-top:10px;">Trinti pokalbi</button>
                </form>
                <form th:action="@{messages/disableChatGroup}" method="POST">
                    <input class="chatGroupIdHidden" name="chatGroupId" type="hidden">
                    <button type="submit" id="chat-group-diactyvate" class="btn btn-primary col-xs-12" style="margin-top:10px;">Deaktivuoti pokalbį</button>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments/header :: scripts"/>
<script th:src="@{/js/app-messaging.js}" type="text/javascript"></script>

</body>
</html>